<!DOCTYPE html>
<html>
<head>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>New Listing:</h1><br><br>
  <form action = '/listings/new/' method = 'post'>
<label for = 'address'>Address</label>
    <input id = 'address' type = 'text' name = 'address'><br><br>
<label for = 'description'>Description</label>
    <input id = 'description' type = 'text' name = 'description'>
    <input type="submit" name="submit" id="submit" value = 'Submit'>
  </form>

</body>
</html>
