<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./css/airbnbstyle.css">
</head>
<body>
<h1>New Listing:</h1><br><br>
  <form action = '/listings/new/' method = 'post'>
    <input type = 'text' name = 'listing'>
    <input type = 'submit' value = 'Submit'>
  </form>

</body>
</html>