<div style="text-align: center; margin-top: 20%">
<h1 id = 'head'>AirBnB Clone</h1>

<form action = '/listings' method = 'get'>
  <input type = 'submit' value = 'Listings'>
</form>


<p>Testing infrastructure: ONLINE</p>
</div>