<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<div id='border'>
<h1 id = 'head'>AirBnB Clone</h1>

<% if @user %>
<h3> Hello <%=@user.username%>! </h3>
<form action = '/sessions/destroy' method = 'post'>
<input type = 'submit' value = 'Sign Out'>
</form>
<% end %>
<form action = '/listings' method = 'get'>
  <input type="submit" name="submit" id="submit" value = 'Listings'>
</form>

<form action = '/listings/new' method = 'get'>
  <input type="submit" name="submit" id="submit" value = 'Add Listing'>
</form>

<form action='/sessions/new'>
  <input type="submit" name="submit" id="submit" value='Login'>
</form>

<form action='/user/new'>
  <input type="submit" name="submit" id="submit" value="Sign Up">
</form>

</div>

<p>Testing infrastructure: ONLINE</p>
</body>
</html>
