<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<h1 id = 'head'>AirBnB Clone</h1>

<form action = '/listings' method = 'get'>
  <input type = 'submit' value = 'Listings'>
</form>

<form action = '/listings/new' method = 'get'>
  <input type = 'submit' value = 'Add Listing'>
</form>

<form action='/sign_out'>
  <input type='submit' value='sign out'>
</form>
</body>
</html>
