<!DOCTYPE html>
<html>
<head>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<div id='seclistborder'>
<h1>Current Listings</h1><br><br>
<ul>
    <%@list.each do |x|%>
      <li>
      <%= x.address + ", " + x.description + ", " + x.available_dates + ", £" + x.price_per_night + " per night, " + x.username + "- " + x.email %>
      </li>
    <%end%>
</ul>
</div>
</body>
</html>
