<!DOCTYPE html>
<html>
<head>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<form action='/' method= 'get'>
    <input type='submit' name="submit" id="submit" value = 'Homepage'>
</form>
<div id='seclistborder'>
<h1>Current Listings</h1><br><br>
<ul>
    <%@list.each do |x|%>
      <li class="listing" id="listing-<%= x.id %>">
      <%= x.address + ", " + x.description + ", " + x.available_dates + ", £" + x.price_per_night + " per night, " + x.username + "- " + x.email %>
      <form action='/bookings/new/<%=x.id%>' method= 'post'>
      <input type='submit' name="submit" id="submit" value = 'Book Place'>
      </form>
      </li>
    <%end%>
</ul>
</div>
</body>
</html>
