<!DOCTYPE html>
<html>
<head>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Current Listings</h1><br><br>
<ul>
    <%@list.each do |x|%>
      <li>
      <%= x.address + ", " + x.description %>
      </li>
    <%end%>
</ul>
</body>
</html>
