<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./css/airbnbstyle.css">
</head>
<body>
<h1>Current Listings</h1><br><br>
<ul>
<% $listings.each do |x| %>
  <li> <%= x %> </li>
  <% end %>
</ul>
</body>
</html>