<!DOCTYPE html>
<html>
  <head>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <h1> Sign up page </h1>
  <form action='/' method='post'>
    <label for='username'>Username</label>
    <input type='text' id='username' name='username' placeholder='username here'>
    <label for='password'>Password</label>
    <input type='password' id='password' name='password' placeholder='password here'>
    <input type='submit' value='sign up'>
   </form>

  <p> Have an account? Log in !</p>

  <form action='/login'>
    <input type='submit' value='login'>
  </form>
</html>