@font-face {
  font-family: 'Airbnb Cereal App Book';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
}
  
  
@font-face {
  font-family: 'Airbnb Cereal App Light';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Light'), url('AirbnbCerealLight.woff') format('woff');
}
  
  
@font-face {
  font-family: 'Airbnb Cereal App Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Medium'), url('AirbnbCerealMedium.woff') format('woff');
}
  
  
@font-face {
  font-family: 'Airbnb Cereal App Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Bold'), url('AirbnbCerealBold.woff') format('woff');
}
  
  
@font-face {
  font-family: 'Airbnb Cereal App Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Extra Bold'), url('AirbnbCerealExtraBold.woff') format('woff');
}
  
  
@font-face {
  font-family: 'Airbnb Cereal App Black';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Black'), url('AirbnbCerealBlack.woff') format('woff');
}

h1 {
  font-family: 'Airbnb Cereal App Bold';
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #000080;
}
body {
  font-family: 'Airbnb Cereal App Medium';
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #000000;
  background-color: #f0e130;
  background-image: url("../website_background.png")
}

#submit{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.5em solid #c94c4c;
  margin:1%;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Airbnb Cereal App Light',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: #c94c4c;
  }
  #submit:hover{
   color:#000000;
   background-color:#FFFFFF;
   border: solid slategray
  }
  @media all and (max-width:30em){
   #submit{
  display:block;
  margin:0.4em auto;}
  }

#border{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  top: 0%;
  left: 0%;
  height: 35%;
  width: 18%;
  border:1em solid #FFFFFF;
  margin:2%;
  margin-left: 15%;
  transition: all 0.2s;
  background-color: white;
  box-shadow: 5px 5px 10px #272727;
}

#secborder{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  height: 35%;
  width: 25%;
  border:1em solid #FFFFFF;
  margin:auto;
  transition: all 0.2s;
  background-color: white;
  box-shadow: 5px 5px 10px #272727;
}

#seclistborder{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  height: 35%;
  width: 50%;
  border:1em solid #FFFFFF;
  margin:auto;
  transition: all 0.2s;
  background-color: white;
  box-shadow: 5px 5px 10px #272727;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h3{
  font-family: 'Airbnb Cereal App Light';
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #646464;
}


