h1 {
  font-family: impact;
  text-align: center;
  color: #000080;
}
body {
  font-family: helvetica;
  text-align: center;
  color: #000080;
  background-color: #f0e130;
  background-image: url("../website_background.png")
}
