<!DOCTYPE html>
<html>
  <head>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <div id='secborder'>
  <h1> Sign up page </h1>
  <form action='/users' method='post'>
    <label for='username'>Username</label>
    <input type='text' id='username' name='username' placeholder='username here'>
    <label for='email'>Email</label>
    <input type='text' id='email' name='email' placeholder='email here'>
    <label for='password'>Password</label>
    <input type='password' id='password' name='password' placeholder='password here'>
    <input type="submit" name="submit" id="submit"  value='Sign Up'>
   </form>
   <%= flash[:notice] %>

  <p> Have an account? Log in !</p>

  <form action='/sessions/new'>
    <input type="submit" name="submit" id="submit"  value='Login'>
  </form>
  </div>
</html>