<!DOCTYPE html>
<html>
  <head>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <div id='border'>
  <h1> Login page </h1>
  <form action='/sessions' method='post'>
    <label for='username'>Username</label>
    <input type='text' id='username' name='username' placeholder='username here'>
    <label for='password'>Password</label>
    <input type='password' id='password' name='password' placeholder='password here'>
    <input type="submit" name="submit" id="submit"  value='Login'>
  </form>
  <%= flash[:notice] %>
  
  <p> Do not have an account? Sign up! </p>
  
  <form action='/user/new'>
    <input type="submit" name="submit" id="submit"  value='Sign Up'>
  </form>
  </div>
</html>